.cache/
compile_commands.json
sumo/
cooperative_tsn/.settings/

cooperative_tsn/examples/veins_inet_test/.venv/

cooperative_tsn/examples/veins_inet_test/grpc/

veins.bak/
space_veins/
plexe/.cproject
cooperative_tsn/.
cooperative_tsn/.settings/language.settings.xml
plexe/subprojects/plexe_hetnet/.settings/language.settings.xml

.vscode/

.idea/

plexe/subprojects/plexe_cooperis/.settings/

plexe/subprojects/plexe_lte/.settings/

plexe/subprojects/plexe_vlc/.settings/

plexe/.csettings/

plexe/.settings/

linbus/
.devcontainer
inet/examples/wireless/multiradio/.project
cooperative_tsn/examples/platoon_with_plexe/output.txt
opp_run_dbg
